<h3 class="ui header">{{t "forms.data-line-lohf-customer-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.customer
      class=(if (v-get validationObject "customer" "isInvalid") "error")
      label=(t "forms.data-line-lohf-customer-e.customer-caption")
      data-test-data-line-lohf-customer-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "customer" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.descr
      class=(if (v-get validationObject "descr" "isInvalid") "error")
      label=(t "forms.data-line-lohf-customer-e.descr-caption")
      data-test-data-line-lohf-customer-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "descr" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.service_manager_id
      class=(if (v-get validationObject "service_manager_id" "isInvalid") "error")
      label=(t "forms.data-line-lohf-customer-e.service_manager_id-caption")
      data-test-data-line-lohf-customer-e-------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "service_manager_id" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.creator_id
      class=(if (v-get validationObject "creator_id" "isInvalid") "error")
      label=(t "forms.data-line-lohf-customer-e.creator_id-caption")
      data-test-data-line-lohf-customer-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "creator_id" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.modifier_id
      class=(if (v-get validationObject "modifier_id" "isInvalid") "error")
      label=(t "forms.data-line-lohf-customer-e.modifier_id-caption")
      data-test-data-line-lohf-customer-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "modifier_id" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-e.dt_created-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dt_created
      class=(if (v-get validationObject "dt_created" "isInvalid") "error")
      data-test-data-line-lohf-customer-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dt_created" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-e.dt_modified-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dt_modified
      class=(if (v-get validationObject "dt_modified" "isInvalid") "error")
      data-test-data-line-lohf-customer-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dt_modified" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-e.archive-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.archive
      data-test-data-line-lohf-customer-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "archive" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-e.dt_archive-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dt_archive
      class=(if (v-get validationObject "dt_archive" "isInvalid") "error")
      data-test-data-line-lohf-customer-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dt_archive" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.archiver_id
      class=(if (v-get validationObject "archiver_id" "isInvalid") "error")
      label=(t "forms.data-line-lohf-customer-e.archiver_id-caption")
      data-test-data-line-lohf-customer-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "archiver_id" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.archive_reason_id
      class=(if (v-get validationObject "archive_reason_id" "isInvalid") "error")
      label=(t "forms.data-line-lohf-customer-e.archive_reason_id-caption")
      data-test-data-line-lohf-customer-e------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "archive_reason_id" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-e.internal-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.internal
      data-test-data-line-lohf-customer-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "internal" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-e.telco-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.telco
      data-test-data-line-lohf-customer-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "telco" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-e.office-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.office
      data-test-data-line-lohf-customer-e-------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "office" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-e.barrier-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.barrier
      data-test-data-line-lohf-customer-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "barrier" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-e.pci_dss-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.pci_dss
      data-test-data-line-lohf-customer-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "pci_dss" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-e.federal_low_152-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.federal_low_152
      data-test-data-line-lohf-customer-e----------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "federal_low_152" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.account_manager_id
      class=(if (v-get validationObject "account_manager_id" "isInvalid") "error")
      label=(t "forms.data-line-lohf-customer-e.account_manager_id-caption")
      data-test-data-line-lohf-customer-e-------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "account_manager_id" "messages")}}
  </div>
</form>