<h3 class="ui header">{{t "forms.data-line-lohf-customer-acl-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-acl-e.a_create-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.a_create
      data-test-data-line-lohf-customer-acl-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "a_create" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-acl-e.a_read-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.a_read
      data-test-data-line-lohf-customer-acl-e-------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "a_read" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-acl-e.a_update-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.a_update
      data-test-data-line-lohf-customer-acl-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "a_update" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-acl-e.a_delete-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.a_delete
      data-test-data-line-lohf-customer-acl-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "a_delete" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-acl-e.group_id-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.group_id
      relationName="group_id"
      projection="grpL"
      title=(t "forms.data-line-lohf-customer-acl-e.group_id-caption")
      readonly=readonly
      componentName="group_idLookup"
      data-test-data-line-lohf-customer-acl-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "group_id" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.group_id.name
      class=(if (v-get validationObject "group_id.name" "isInvalid") "error")
      label=(t "forms.data-line-lohf-customer-acl-e.group_id.name-caption")
      data-test-data-line-lohf-customer-acl-e--------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "group_id.name" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-lohf-customer-acl-e.customer_id-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.customer_id
      relationName="customer_id"
      projection="customerL"
      title=(t "forms.data-line-lohf-customer-acl-e.customer_id-caption")
      readonly=readonly
      componentName="customer_idLookup"
      data-test-data-line-lohf-customer-acl-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "customer_id" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.customer_id.customer
      class=(if (v-get validationObject "customer_id.customer" "isInvalid") "error")
      label=(t "forms.data-line-lohf-customer-acl-e.customer_id.customer-caption")
      data-test-data-line-lohf-customer-acl-e---------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "customer_id.customer" "messages")}}
  </div>
</form>